.container-fluid
  %center
    Zadanie trzecie - dualny algorytm simplex
  %hr
  %center
    =form_tag(calculation_path, method: :post) do
      .row
        z=
        =number_field_tag :zx1, params[:zx1], step: '1', placeholder: 'x1'
        =number_field_tag :zx2, params[:zx1], step: '1', placeholder: 'x2'
        =number_field_tag :zx3, params[:zx1], step: '1', placeholder: 'x3'
        =number_field_tag :zx4, params[:zx1], step: '1', placeholder: 'x4'
        =number_field_tag :zx5, params[:zx1], step: '1', placeholder: 'x5'
        \-> min
      %br
      .row
        =number_field_tag :ax1, params[:ax1], step: '1', placeholder: 'x1'
        =number_field_tag :ax2, params[:ax1], step: '1', placeholder: 'x2'
        =number_field_tag :ax3, params[:ax1], step: '1', placeholder: 'x3'
        =number_field_tag :ax4, params[:ax1], step: '1', placeholder: 'x4'
        =number_field_tag :ax5, params[:ax1], step: '1', placeholder: 'x5'
        >= 
        =number_field_tag :ay, params[:ay], step: '1', placeholder: 'y'
      %br
      .row
        =number_field_tag :bx1, params[:bx1], step: '1', placeholder: 'x1'
        =number_field_tag :bx2, params[:bx1], step: '1', placeholder: 'x2'
        =number_field_tag :bx3, params[:bx1], step: '1', placeholder: 'x3'
        =number_field_tag :bx4, params[:bx1], step: '1', placeholder: 'x4'
        =number_field_tag :bx5, params[:bx1], step: '1', placeholder: 'x5'
        >= 
        =number_field_tag :by, params[:by], step: '1', placeholder: 'y'
      %br
      .row
        =number_field_tag :bx1, params[:bx1], step: '1', placeholder: 'x1'
        =number_field_tag :bx2, params[:bx1], step: '1', placeholder: 'x2'
        =number_field_tag :bx3, params[:bx1], step: '1', placeholder: 'x3'
        =number_field_tag :bx4, params[:bx1], step: '1', placeholder: 'x4'
        =number_field_tag :bx5, params[:bx1], step: '1', placeholder: 'x5'
        >= 
        =number_field_tag :by, params[:by], step: '1', placeholder: 'y'
      %br
      .row
        =number_field_tag :cx1, params[:cx1], step: '1', placeholder: 'x1'
        =number_field_tag :cx2, params[:cx1], step: '1', placeholder: 'x2'
        =number_field_tag :cx3, params[:cx1], step: '1', placeholder: 'x3'
        =number_field_tag :cx4, params[:cx1], step: '1', placeholder: 'x4'
        =number_field_tag :cx5, params[:cx1], step: '1', placeholder: 'x5'
        >= 
        =number_field_tag :cy, params[:cy], step: '1', placeholder: 'y'
      %br
        =button_tag 'Dalej', class: "btn btn-primary"