%center
  \-2x2 + 6
  %br
  \-------------------------- -> min
  %br
  \-x1 - x2 - 1
  %br
  %br
  \3/2x1 + 3/2x2 <=12
  %br
  x1 + x2 >= 4
  %br
  \-3x1 + 3x2 >= -6
  %br
  x1 - x2 >= -2
  %br
  x1, x2 >= 0
=render 'dual_calc'