=render 'dual_calc'

%h3
  -if @success
    Wynik:
    =@step_by_step.last[2][1]
    \=
    =@step_by_step.last[2][2]
    =@step_by_step.last[3][1]
    \=
    =@step_by_step.last[3][2]
    =@step_by_step.last[4][1]
    \=
    =@step_by_step.last[4][2]
  -else
    Brak rozwiązania

%br
%center
  Tablica początkowa: 
  %table{border: 1, width: '90%'}
    -@start_tab.each do |row|
      %tr{style: "text-align: center;"}
        -row.each do |elem|
          %td{style: "width: 100px"}
            -if elem.to_f.round(2) == 0
              =elem
            -else
              =elem.to_f.round(2)
            
  %br
  Krok po kroku: 
  -@step_by_step.each do |step|
    %table{border: 1, width: '90%'}
      -step.each do |row|
        %tr{style: "text-align: center;"}
          -row.each do |elem|
            %td{style: "width: 100px"}
              -if elem.to_f.round(2) == 0
                =elem
              -else
                =elem.to_f.round(2)
    %br
            
  %br
