=render 'dual_calc'

%center
  %br Wynik:
  %br
    -(3..6).each do |result|
      x
      =@step_by_step.last[result][2].slice(1,1)
      \=
      =@step_by_step.last[result][3]
      %br
    Wartość funkcji=
    =@step_by_step.last[9][3]
%center
  Tablica początkowa: 
  %table{border: 1, width: '90%'}
    -@start_tab.each do |row|
      %tr{style: "text-align: center;"}
        -row.each do |elem|
          %td{style: "width: 100px"}
            -if elem.to_f.round(2) == 0
              =elem
            -else
              =elem.to_f.round(3)
            
  %br
  Krok po kroku: 
  -@step_by_step.each do |step|
    %table{border: 1, width: '90%'}
      -step.each do |row|
        %tr{style: "text-align: center;"}
          -row.each do |elem|
            %td{style: "width: 100px"}
              -if elem.to_f.round(2) == 0
                =elem
              -else
                =elem.to_f.round(3)
    %br
            
  %br
