=render 'dual_calc'

%h3
  Wartość funkcji:
  =@transport.score

%br
%center
  %table{border: 1, width: '50%'}
    -@transport.matrix.each_with_index do |row, i|
      %tr{style: "text-align: center;"}
        -row.each do |elem|
          %td{style: "width: 100px"}
            =elem
        %td= @transport.supply[i]
    %tr{style: "text-align: center;"}
      -@transport.demand.each do |dem|
        %td= dem
      %td


            
/   %br
/   Krok po kroku:
/   %br Pierwsza faza :
/   -@step_by_step.each do |step|
/     %table{border: 1, width: '90%'}
/       -step.each do |row|
/         %tr{style: "text-align: center;"}
/           -row.each do |elem|
/             %td{style: "width: 100px"}
/               -if elem.to_f.round(2) == 0
/                 =elem
/               -else
/                 =elem.to_f.round(3)
/     %br
/   %br Druga Faza:
/   -@step_by_step_2phase.each do |step|
/     %table{border: 1, width: '90%'}
/       -step.each do |row|
/         %tr{style: "text-align: center;"}
/           -row.each do |elem|
/             %td{style: "width: 100px"}
/               -if elem.to_f.round(2) == 0
/                 =elem
/               -else
/                 =elem.to_f.round(3)
/     %br
            
/   %br
