<!DOCTYPE html>
<html>
<head>
  <title>Metody optymalizacji w ekonomii</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2><center> Metody optymalizacji w ekonomii </center></h2>
<center> Maciej Brodecki 180508, Atur Wróblewski 180748 </center>
<hr>
<%= yield %>

</body>
</html>
